* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

body {
    background-color: black;
}

aside {
    width: 230px;
    height: calc(100vh - 100px);
    float: left;
    padding-top: 20px;
    color: #b3b3b3;
}

#main-logo svg {
    width: 155px;
    padding: 0px 0px 24px 16px;
    color: white;
}

ul {
    list-style-type: none;
}

.nav-left-element {
    height: 40px;
    width: 100%;
    padding: 0 16px;
}

.nav-left-element a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-logo {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 16px;
}

aside h3 {
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 16px;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 13px;
}

#btn-new-playlist {
    height: 32px;
    width: 32px;
    background-color: #9a9a9a;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

#btn-fav-playlist {
    height: 32px;
    width: 32px;
    background-image: linear-gradient(to bottom right, #331692, #728884);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

aside hr {
    margin: 8px 16px;
    border-color: #282828;
}

#custom-playlist {
    height: 120px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#custom-playlist li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    width: 100%;
    padding: 5px 24px 0px 16px;
}

.install {
    margin-top: 9px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: inherit;
    border: 0;
}

.install div {
    height: 24px;
    width: 24px;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: linear-gradient(to bottom right, #000d9c, #5d63ac);
    width: calc(100% - 230px);
    height: calc(100vh - 100px);
    float: left;
    overflow-y: auto;
}


header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: calc(100% - 230px);
    position: fixed;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-left {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-backforward {
    background-color: rgba(0, 0, 0, 0.8);
    color: #b3b3b3;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.nav-backforward svg {
    height: 22px;
    width: 22px;
}

#search {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px;
}

#header-right {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    color: white;
    border-radius: 12px;
    padding: 1px 1px;
}

#header-right img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

#header-right span {
    margin: 0 8px;
    font-size: 12px;
}

#explore {
    padding: 80px 0px;
    color: #b3b3b3;
}

.category {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}

.cat-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.cat-title h2 {
    font-size: 28px;
    color: white;
}

.cat-title p {
    font-size: 12px;
    text-transform: uppercase;
}

.cat-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.cat-element {
    background-color: #282828;
    width: 190px;
    height: 270px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.cat-element p {
    padding: 4px 0px;
    color: white;
    font-weight: bold;
}

.cat-description p {
    font-size: 11px;
    color: #b3b3b3;
}

footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
}

#footer-left {
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#track-info {
    height: 100%;
    display: inline-block;
    padding: 16px 10px;
    color: white;
    position: relative;
}

#track-info p:nth-child(2) {
    font-size: 12px;
    color: #b3b3b3;
    padding-top: 4px;
}

#footer-left i:hover {
    font-family: "Font Awesome 5 Free";
    color: #1db954;
    font-weight: 900;
    font-size: 15px;
}
/

#track-info p:last-child {
    font-size: 12px;
    color: #b3b3b3;
}

#footer-center {
    width: 450px;
    height: 100%;

        text-align: center;
}

#player-btn {
    text-align: center;
    height: 50%;
    padding-top: 15px;
}

.btn-play {
    background-color: inherit;
    border: none;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    color: #b3b3b3;
}

.btn-play:nth-child(3) {
    border: 1px solid #b3b3b3;
    border-radius: 50%;
}

.btn-play:last-child {
    margin-right: 0px;
}

#time-player {
    height:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#track-player {
    width: 380px;
}

#footer-right {
    background-color: red;
    width: 260px;
    height: 100%;
}
